In [2]:
%matplotlib inline

import pandas as pd
import tensorflow as tf
import numpy as np
import tflearn as tflearn

hdf5 is not supported on this machine (please install/reinstall h5py for optimal experience)

In [ ]:
df = pd.read_csv('train.csv')

In [ ]:
df.head()

In [ ]:
df.isnull().values.any()

In [ ]:
df.isnull().sum()

In [ ]:
df["Age"].fillna(df["Age"].mean(), inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
df.columns

In [ ]:
df = df.drop(df.columns[[0, 1, 3, 8, 10]], axis=1)

In [ ]:
df.replace(['male', 'female'], [1, 2], inplace=True)
df['Embarked'].unique()

In [ ]:
df.replace(['S', 'C', 'Q', np.nan], [1, 2, 3, 0], inplace=True)
df['Embarked'].unique()

In [ ]:
df.isnull().values.any()